* {
  font-family: 'Lato', sans-serif;
 }
 .nav-color{
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(72, 179, 74, 0.055);
}


.bg-change{
  background-color: #48B349;
  z-index: 10;
  margin-top: 64px !important;
  padding: 14px !important;
}

.bg-change .program-count ,
.bg-change .program-title,
.bg-change .idr,
.bg-change .line-vertical{
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.add-margin{
  margin-top: 196px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../images/toggel.svg");
  width: 32px;
  height: 32px;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-light .navbar-toggler:focus{
  outline: none;
}

.btn-language:focus{
  box-shadow: none;
}
.drop-lang{
  position: absolute !important;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 24px rgba(45, 56, 110, 0.15);
}
.drop-lang .itm-language{
  padding: .25rem 1rem;
}
.btn-profile:focus{
  box-shadow: none;
}
.mobile-lang .dropdown .btn-language span {
  padding-left: 8px;
  padding-right: 8px;
}
.mobile-lang .active-notif {
  margin-right: 8px;
}

.btn-language span{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #909AAD;
  padding-left: 12px;
  padding-right: 12px;
}
.itm-language span{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #909AAD;
  padding-left: 12px;
  padding-right: 12px;
}
.btn-profile span{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2D386E;
  padding-left: 12px;
  padding-right: 12px;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  color: #909aad;
}
.ic-language{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.active-notif{
  display: flex;
  position: relative;
  margin-right: 18px;
}
.active-notif img{
  pointer-events: none;
}
.active-notif .badge{
  width: 8px;
  height: 13px;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  position: absolute;
  top: 8px;
  right: -4px;
}