img{
    pointer-events: none;
}
.ct-main-detail{
    margin-top: 64px;
}
.col-detail-left-1{
    height: 420px;
    position: relative;
}
.col-detail-left-1 .banner-detail-donation{
    width: 1000px;
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    right: 15px;
    bottom: 0;
    height: 420px;
    border-radius: 0 24px 24px 0;
}
.ic-float-wrapper{
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2D86BE;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: 65px;
}
.ic-float-wrapper .ic-float-ct{
    width: 24px;
}
.col-detail-left-1 .wrapper-detail-banner{
    position: absolute;
    bottom: 26px;
}

.col-detail-left-1 .wrapper-detail-banner .rw-ctn-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rw-ctn-banner .ic-ys{
    margin-right: 8px;
}

.col-detail-left-1 .wrapper-detail-banner .rw-ctn-banner .col-ctn-banner{
    display: flex;
    flex-direction: column;
}
.col-ctn-banner-left{
    margin-right: 60px;
}

.wrapper-detail-banner .rw-ctn-banner .col-ctn-banner .banner-fundraiser{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.wrapper-detail-banner .rw-ctn-banner .col-ctn-banner .fundraiser-name-banner{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.col-ctn-banner .wrapper-ic-rating {
    display: flex;
    flex-direction: row;
}
.wrapper-ic-rating .ic-rating{
    margin-right: 8.6px;
}
.col-ctn-banner .wrapper-ic-rating .rating-count{
    margin-bottom: 0;
}

.col-detail-right-1{
    padding-top: 21px;
}
.category-name{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #909AAD;
    margin-bottom: 18px;
}
.program-name{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #2D386E;
    margin-bottom: 21px;
}
.cabang{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #909AAD;
    margin-bottom: 30px;
}
.cabang i{
    color: #FCBD60;
    margin-right: 10px;
    font-size: 20px;
}
.wrapper-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper-value p{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2D386E;
    margin-bottom: 10px;
}
.progress{
    border-radius: 12px;
    margin-bottom: 16px;
}
.progress .progress-bar {
    background-color: #48B349;
}
.wrapper-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper-time p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #909AAD;
    margin-bottom: 38px;
}
.button-wrapp-btm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-wrapp-btm .btn-donasi{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(72, 179, 73, 0.35);
    border-radius: 80px;
    padding: 14px 28px;
}
.button-wrapp-btm .btn-donasi:active:focus{
    box-shadow: 0px 4px 24px rgba(72, 179, 73, 0.35) !important;
}
.button-wrapp-btm .btn-fundraiser{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #48B349;
    background: #FFFFFF;
    border: 1px solid #E2EDF8;
    box-sizing: border-box;
    border-radius: 80px;
    padding: 14px 30px;
}
.col-detail-left-2{
    padding-top: 58px;
    padding-bottom: 90px;
}
.col-detail-right-2{
    padding-top: 58px;
    padding-bottom: 90px;
}
.nav-tabs-detail{
    margin-bottom: 32px;
    width: fit-content;
    background: #E9EBEF;
    border-radius: 8px;
    padding: 2px;
}

.nav-tabs-item{
    border-radius: 7px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.nav-tabs-item:active{
    background: #FFFFFF;
    border-radius: 7px;
    border: none !important;
}
.nav-tabs-item .nav-link{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2D386E !important;
    border: none;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    padding: 15px 34px;
}



.nav-tabs-detail-2{
    width: 100%;
}
.nav-tabs-detail-2 .nav-tabs-item{
    width: 50%;
    text-align: center;
}


.list-group-item{
    padding: 24px 20px;
    border: 1px solid #E2EDF8;
}
.rw-donate{
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}
.col-donate-left .donatur-name{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2D386E;
    margin-bottom: 2px;
}
.col-donate-left .date-donate{
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #909AAD;
    margin-bottom: 0;
}
.donate-count{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #2D386E;
    margin-bottom: 0;
}
.donate-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.rw-fdn{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.wrapp-2-col{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.ic-ys-fnd{
    margin-right: 14px;
    /* width: 48px; */
    /* height: 72px; */
}
.wrapp-fnd{
    display: flex;
    flex-direction: column;
}
.fnd-name{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2D386E;
    margin-bottom: 10px;
}
.fnd-lct{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #909AAD;
    margin-bottom: 0;
}
.fnd-lct i{
    margin-right: 8px;
    color: #FCBD60;
    font-size: 18px;
}
.rt-count-wrapp{
    display: flex;
    flex-direction: row;
}
.rt-count-wrapp .ic-rt{
    margin-right: 12px;
}
.rt-count{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #2D386E;
    margin-bottom: 0;
}










.detail-content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 32px;
}
.img-detail-banner{
    width: 100%;
    margin-bottom: 16px;
    border-radius: 12px;
}
.detail-title-content{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2D386E;
    margin-left: 14px;
    margin-bottom: 32px;
}

.col-donate-right {
    padding-right: 0;
    text-align: right;
}
.col-donate-left {
    padding-left: 0;
}














.success-story{
    margin-bottom: 300px;
}
.wrapp-success{
    background-color: #2D386E;
    padding-top: 58px;
    height: 500px;
}
.ct-story .title-success-story{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.ct-story .success-p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.ct-story .title-success-story span{
    font-weight: bold;
}
.card-success-story{
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(45, 56, 110, 0.15);
    border-radius: 18px;
    border: none;
}
.card-body .success-project{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #2D386E;
    margin-bottom: 14px;
}
.card-body .success-time{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #909AAD;
    margin-bottom: 20px;
}
.card-body .success-time i{
    margin-right: 10px;
}
.card-body .success-content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #909AAD;
}
.card-success-story:hover{
    transform: scale(1.008);
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: -50px;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 8;
}

.wrapper-card:hover{
    text-decoration: none;
}
.bx-wrapper .bx-prev {
    left: auto;
    right: 10%;
}
.bx-wrapper .bx-next {
    right: 5%;
}
.bx-wrapper{
    max-width: 100% !important;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: none;
    border: none !important;
    background: transparent;
  }
  .bx-viewport{
    width: 100%;
    /* overflow: hidden;
    position: relative;
    height: auto;*/
    padding-left: 56px; 
    padding-bottom: 30px;
    padding-top: 30px;

  }
  /* .card-success-story{
    margin-left: 20px;
    margin-right: 20px;
  } */

  .footer::after{
    content: "";
    -webkit-transform: skewy(0deg);
    transform: skewy(0deg);
  }








  .hide-panel{
      display: none;
  }
  .show-panel{
    display: block !important;
    }
.donation-flow-2{
    display: none;
}

.title-nominal{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2D386E;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 34px;
}
.tabs-flow{
    border: none;
    margin-bottom: 20px;
}
.item-tab-flow{
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.link-tab-flow{
    border: none !important;
    background-color: transparent;
    font-size: 14px;
    padding: 3.8px 6px;
    color: #2D386E;
    background-color: #E9EBEF;
    border-radius: 50% !important;
}
.tabs-flow .link-tab-flow.active{
    background-color: #48B349;
    color: #fff;
}
.rp-ic{
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2D386E;
}
.input-value-donasi{
    background-color: #e9ebef;
    border: none;
    text-align: end;
    border-radius: 8px !important;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #2D386E;
}
.input-value-donasi::placeholder{
    color: #2D386E;
}
.wrapper-value .value-donasi-sugess{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #48B349;
    padding: 12px 20px;
    border-radius: 34px;
    cursor: pointer;
    margin-bottom: 56px;
    user-select: none;
}
.sugess-2{
    background-color: #35417D !important;
}
.wrapper-button{
    justify-content: center;
}
.btn-item{
    border-radius: 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 12px 26px;
    margin-right: 14px;
    width: 120px;
}

.tabs-flow-2{
    width: 100%;
    margin-bottom: 32px;
    background: #E9EBEF;
    border-radius: 8px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.item-tab-flow-2{
    width: 33%;
    text-align: center;
}
.link-tab-flow-2{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2D386E !important;
    border: none;
    border-radius: 7px !important;
    transition: all 0.3s ease-in-out;
    padding: 15px 0;
    border: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.link-tab-flow-2 i{
    font-size: 24px;
    margin-right: 10px;
}
.label-nama{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #909AAD;
}
.label-nomor{
    margin-right: 6px;
    border-radius: 8px !important;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2D386E;

}
.input-group .tel-number{
    border-radius: 6px !important;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2D386E;
}
.input-group .tel-number::placeholder{
    color: #2D386E;
}
.custom-input{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2D386E;
    border: 1px solid #E2EDF8;
    border-radius: 6px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #48b349;
    background-color: #48b349;
}
.wrapper-button-ctr{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
.donasi-sekarang{
    background: #48B349;
    box-shadow: 0px 4px 24px rgba(72, 179, 73, 0.35);
    border-radius: 80px;
    padding: 12px 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}


.modal-verifikasi {
    background-color: #FFFFFF;
    border: none;
    border-radius: 12px;
    outline: 0;
    min-height: 350px;
}

.modal-verifikasi .modal-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: none;
    padding-top: 40px;
}
.modal-verifikasi .modal-header .modal-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2D386E;
}
.modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    opacity: 1 !important;
    background-image: url("../images/ic-close.svg");
}
.modal-header .close:hover{
    opacity: 100%;
}
.modal-header .close:focus{
    outline: none !important;
}
.modal-verifikasi .modal-body{
    padding-left: 71px;
    padding-right: 71px;
    padding-bottom: 40px;
}
.modal-verifikasi .modal-body .desc-nomor{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #909AAD;
    margin-bottom: 28px;
}
.modal-verifikasi .modal-body .desc-nomor .phone-number{
    font-weight: bold;    
    color: #2D386E;
}

.ubah-nomor{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #2D386E;
}
.ubah-nomor i{
    font-size: 18px;
    margin-right: 6px;
}
.ubah-nomor:hover{
    text-decoration: none;
    color: rgb(41, 61, 160);
}
.digit-group{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .digit-group .wrapp
  input {
    width: 44px;
    border: none;
    border-bottom: 2px solid #909AAD;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #2D386E;
    margin: 0 2px;
  }
  .digit-group input:focus{
    border-color: #48B349;
    outline: none;
  }
  .digit-group .wrapp{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 38px;
  }
  .digit-group .belum-terima{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #909AAD;
        margin-bottom: 0;

  }
  .digit-group .kirim-ulang{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #2D386E;
    margin-bottom: 28px;
}
.digit-group .kirim-ulang:hover{
    text-decoration: none;
    color: rgb(41, 61, 160);
}
.btn-salurkan{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #48B349;
    box-shadow: 0px 4px 24px rgba(72, 179, 73, 0.35);
    border-radius: 80px;
    padding: 12px 28px;
}




.modal-cara-donasi {
    background-color: #FFFFFF;
    border: none;
    border-radius: 12px;
    outline: 0;
    min-height: 350px;
}

.modal-cara-donasi .modal-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: none;
    padding-top: 40px;
    padding-bottom: 0;
}
.modal-cara-donasi .modal-header .modal-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2D386E;
}
.modal-cara-donasi .modal-body{
    padding-bottom: 40px;
}
.modal-cara-donasi .modal-body .desc-nomor{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #909AAD;
    margin-bottom: 28px;
    text-align: center;
}

.tab-pane .wrapper-bank{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tab-pane .wrapper-bank .link-bank .bank-logo{
    width: 100px;
}






.modal-detail-donasi {
    background-color: #FFFFFF;
    border: none;
    border-radius: 12px;
    outline: 0;
    min-height: 350px;
}

.modal-detail-donasi .modal-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: none;
    padding-top: 40px;
    padding-bottom: 0;
}
.modal-detail-donasi .modal-header .modal-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2D386E;
}
.modal-detail-donasi .modal-body{
    padding-bottom: 40px;
}
.modal-detail-donasi .modal-body .desc-nomor{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #909AAD;
    margin-bottom: 28px;
    text-align: center;
}
.card-detail-donasi{
    background: #FFFFFF;
    border: 1px solid #E2EDF8;
    box-sizing: border-box;
    border-radius: 6px;
}
.card-detail-donasi .card-header{
    background: #E2EDF8;
    border-bottom: none;
}
.card-detail-donasi .card-header .program-donasi-card{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2D386E;
    margin-bottom: 10px;
}
.card-detail-donasi .card-header .judul{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #909AAD;
    margin-bottom: 0;
}
.card-detail-donasi .card-body .judul-nama{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #909AAD;
}
.card-detail-donasi .card-body .nama-donatur,
.card-detail-donasi .card-body .nominal-donasi{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #2D386E;
}
.card-detail-donasi .card-body .jumlah-transfer{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #FF6060;
}
.card-detail-donasi .card-body .jumlah-transfer span{
    border: 1px solid #909AAD;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 4px;
    padding: 0 4px;
}
.wrapper-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #909AAD;
    border-radius: 4px;
    padding: 16px 24px;
    position: relative;
}
.wrapper-info .info-pembayaran{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.wrapper-info .info-pembayaran-2{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.ikon-nduwur{
    position: absolute;
    top: -16px;
    left: 130px;
    font-size: 42px;
    color: #909AAD;
}