/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mobile-lang{
        margin-left: auto;
    }
    .btn-profile {
        padding-left: 0;
    }
    .person-1{
        display: none;
    }
    .person-2 {
        top: 10%;
        left: 6%;
        width: 85px;
        animation: none;
    }
    .person-3 {
        top: 26%;
        left: auto;
        right: 3%;
        width: 138px;
        animation: none;
    }
    .cloud-1,
    .cloud-2 {
        display: none;
    }
    .cloud-3 {
        top: 38%;
        left: 4%;
        width: 60px;
    }
    .cloud-4 {
        position: absolute;
        top: 20%;
        left: 36%;
        width: 52px;
    }
    .cloud-5 {
        position: absolute;
        top: 12%;
        left: auto;
        right: 8%;
    }
    .sun {
        position: absolute;
        top: 8%;
        left: auto;
        right: 6%;
    }
    .carousel-caption {
        top: 40% !important;
    }
    .title-hero {
        font-size: 42px;
        line-height: 48px;
    }
    .title-hero .span-first {
        font-size: 42px;
        line-height: 48px;
    }
    .title-hero .span-last {
        font-size: 42px;
        line-height: 48px;
    }
    .desc-hero{
        margin-bottom: 1rem;
    }
    .br-1-hero{
        display: block;
    }
    .br-2-hero{
        display: none;
    }
    .br-3-hero{
        display: block;
    }
    .content {
        display: none !important;
    }
    .programs-category {
        padding-top: 0;
    }
    .add-margin {
        margin-top: 80px;
    }
    .category-program-content {
        text-align: center;
    }
    .modal-dialog-centered {
        justify-content: center;
    }
    .modal-content {
        width: 94%;
    }
    .card-col{
        margin-bottom: 16px;
    }
    .card-program:hover{
        box-shadow: none;
        transform: none;
    }
    .ct-story{
        text-align: center;
    }
    .ct-story .success-p {
        margin-bottom: 16px;
    }
    .bx-viewport{
        width: 100%;
        padding-left: 30px; 
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .bx-wrapper .bx-controls-direction a {
        top: 104%;
    }
    .bx-wrapper .bx-prev {
        left: 40%;
        right: auto;
    }
    .bx-wrapper .bx-next {
        right: 40%;
    }
    .card-join {
        margin-bottom: -250px;
    }
    .card-join .container .wrapper-card {
        width: 100%;
        padding-top: 340px;
        padding-bottom: 58px;
        background-image: url(../images/bg-card-mobile.svg);
        background-size: cover;
        background-position: center;
    }
    .card-join .ct-card {
        padding-left: 15px;
    }
    .decor-join-title {
        left: 50%;
        margin-left: -72px;
    }
    .footer::after{
        content: "";
        -webkit-transform: skewy(-14deg);
        transform: skewy(-14deg);
    }
    .footer-left{
        margin-bottom: 24px;
        margin-top: 30px;
    }
    .footer-center-1{
        width: 60%;
        margin-bottom: 24px;
    }
    .footer-center-2{
        width: 40%;
        margin-bottom: 24px;
    }
    .footer-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .wrapper-icon-footer {
        justify-content: center;
        width: 60%;
    }
    .wrapper-icon-footer li {
        list-style: none;
        margin: 0px 12px;
    }
    .wrapp-join-us{
        display: flex;
        flex-direction: column;
        align-items: center;
    }





    .col-detail-left-1{
        height: 60vh;
    }
    .col-detail-left-1 .banner-detail-donation{
        width: 100%;
        right: 0;
        bottom: 0;
        height: 60vh;
        border-radius: 0;
    }
    .ic-float-wrapper{
        right: 20px;
        top: auto;
        bottom: -32px;
    }
    .col-detail-left-1 .wrapper-detail-banner{
        bottom: 48px;
    }
    
    .rw-ctn-banner .ic-ys{
        width: 38px;
    }
    .col-ctn-banner-left{
        margin-right: 24px;
    }
    .wrapper-detail-banner .rw-ctn-banner .col-ctn-banner .fundraiser-name-banner{
        font-size: 16px;
    }
    .col-ctn-banner .wrapper-ic-rating .rating-count{
        margin-bottom: 0;
    }
    .button-wrapp-btm{
        flex-direction: column;
    }
    .button-wrapp-btm .btn-donasi{
        margin-bottom: 14px;
    }
    .button-wrapp-btm .btn-donasi:active:focus{
        box-shadow: 0px 4px 24px rgba(72, 179, 73, 0.35) !important;
    }
    .col-detail-left-2{
        padding-bottom: 0;
    }
    .col-detail-right-2{
        padding-top: 38px;
    }
    .nav-tabs-detail{
        width: 100%;
    }
    
    .nav-tabs-item{
        width: 50%;
        text-align: center;
    }
    .nav-tabs-item:active{
        background: #FFFFFF;
        border-radius: 7px;
        border: none !important;
    }
    .nav-tabs-item .nav-link{
        font-size: 14px;
        padding: 15px 0;
    }
    
    .col-donate-left .donatur-name{
        font-size: 16px;
    }
    .col-donate-left .date-donate{
        font-size: 10px;
    }
    .donate-count{
        font-size: 17px;
    }
    .fnd-name{
        font-size: 16px;
        margin-bottom: 4px;
    }
    .fnd-lct{
        font-weight: normal;
        font-size: 12px;
    }
    .fnd-lct i{
        margin-right: 5px;
        font-size: 14px;
    }
    .rt-count-wrapp .ic-rt{
        margin-right: 8px;
        width: 18px;
    }
    .rt-count{
        font-size: 16px;
    }
    
    
    
    
    
    
    
    
    
    
    .img-detail-banner{
        width: 100%;
        height: 160px;
        object-fit: cover;
        object-position: bottom;
    }
    .detail-title-content{
        margin-left: 0;
    }
    
    
    
    .wrapper-detail-right,
    .wrapper-detail-right-2{
        padding-left: 0 !important;
    }
    .col-donate-left{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
    .col-donate-right{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 0;
        padding-right: 0;
        text-align: right;
    }
    .footer-2::after{
        -webkit-transform: skewy(0deg) !important;
        transform: skewy(0deg) !important;
        height: 0;
    }
    .footer-2{
        padding-top: 130px;
    }
    .ic-ys-fnd{
        width: 48px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 767px) {
    /* .person-1{
        top: 20%;
        left: 43%;
    }
    .person-2 {
        display: none;
    } */
    .desc-hero {
        max-width: 340px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 601px) and (max-width: 991px) {
    .md-nav-right .active-notif,
    .md-nav-right .md-btn-lang{
        display: none !important;
    }
    .carousel-caption {
        top: 40% !important;
    }
    .btn-profile{
        padding-left: 0;
    }
    .br-1-hero{
        display: block;
    }
    .br-2-hero{
        display: none;
    }
    .br-3-hero{
        display: block;
    }
    .person-1{
        display: none;
    }
    .person-2 {
        top: 12%;
        left: 6%;
        width: 120px;
        animation: none;
    }
    .person-3 {
        top: 30%;
        left: auto;
        right: 3%;
        animation: none;
    }
    .cloud-5 {
        position: absolute;
        top: 13%;
        left: 72%;
    }
    .sun {
        position: absolute;
        top: 10%;
        left: 78%;
    }
    .line-vertical:nth-last-child(2) {
        display: none;
    }
    .content{
        position: relative !important;
    }
    .bg-change{
        padding-top: 78px;
        padding-bottom: 12px;
        background-color: #ffffff;
    }
    .bg-change .program-count {
        color: #48B349;
    }
    .program-title{
        margin-bottom: 20px;
    }
    .bg-change .program-title{
        color: #909AAD;
    }
    .bg-change .idr, .bg-change .line-vertical{
        border-color: #909AAD;
    }
    .add-margin{
        margin-top: 0;
    }
    .programs-category {
        padding-top: 70px;
    }
    .rw-category .card-col{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px;
    }
    .card-join .container .wrapper-card {
        width: 100%;
        background-size: contain;
    }
    .footer::after{
        content: "";
        -webkit-transform: skewy(-5deg);
        transform: skewy(-5deg);
    }
    .footer-left{
        margin-bottom: 24px;
        margin-top: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-center-1{
        width: 60%;
        margin-bottom: 24px;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .footer-center-2{
        width: 40%;
        margin-bottom: 24px;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .footer-left .footer-content {
        max-width: 370px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .ct-main-detail{
        display:table;
    }
    .rw-main-detail{
        display: table-row;
    }
    .col-detail-left-1{
        float: left;
    }
    .col-detail-left-2{
        float: left;
    }
    .col-detail-right-1{
        float: right;
    }
    .col-detail-right-2{
        float: right;
    }
}