/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mobile-lang{
        margin-left: auto;
    }
    .btn-profile {
        padding-left: 0;
    }
    .person-1{
        display: none;
    }
    .person-2 {
        top: 10%;
        left: 6%;
        width: 85px;
        animation: none;
    }
    .person-3 {
        top: 26%;
        left: auto;
        right: 3%;
        width: 138px;
        animation: none;
    }
    .cloud-1,
    .cloud-2 {
        display: none;
    }
    .cloud-3 {
        top: 38%;
        left: 4%;
        width: 60px;
    }
    .cloud-4 {
        position: absolute;
        top: 20%;
        left: 36%;
        width: 52px;
    }
    .cloud-5 {
        position: absolute;
        top: 12%;
        left: auto;
        right: 8%;
    }
    .sun {
        position: absolute;
        top: 8%;
        left: auto;
        right: 6%;
    }
    .carousel-caption {
        top: 40%;
    }
    .title-hero {
        font-size: 42px;
        line-height: 48px;
    }
    .title-hero .span-first {
        font-size: 42px;
        line-height: 48px;
    }
    .title-hero .span-last {
        font-size: 42px;
        line-height: 48px;
    }
    .desc-hero{
        margin-bottom: 1rem;
    }
    .br-1-hero{
        display: block;
    }
    .br-2-hero{
        display: none;
    }
    .br-3-hero{
        display: block;
    }
    .content {
        display: none !important;
    }
    .programs-category {
        padding-top: 0;
    }
    .add-margin {
        margin-top: 80px;
    }
    .category-program-content {
        text-align: center;
    }
    .modal-dialog-centered {
        justify-content: center;
    }
    .modal-content {
        width: 94%;
    }
    .card-col{
        margin-bottom: 16px;
    }
    .card-program:hover{
        box-shadow: none;
        transform: none;
    }
    .ct-story{
        text-align: center;
    }
    .ct-story .success-p {
        margin-bottom: 16px;
    }
    .bx-viewport{
        width: 100%;
        padding-left: 30px; 
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .bx-wrapper .bx-controls-direction a {
        top: 104%;
    }
    .bx-wrapper .bx-prev {
        left: 40%;
        right: auto;
    }
    .bx-wrapper .bx-next {
        right: 40%;
    }
    .card-join {
        margin-bottom: -250px;
    }
    .card-join .container .wrapper-card {
        width: 100%;
        padding-top: 340px;
        padding-bottom: 58px;
        background-image: url(../images/bg-card-mobile.svg);
        background-size: cover;
        background-position: center;
    }
    .card-join .ct-card {
        padding-left: 15px;
    }
    .decor-join-title {
        left: 50%;
        margin-left: -72px;
    }
    .footer::after{
        content: "";
        -webkit-transform: skewy(-14deg);
        transform: skewy(-14deg);
    }
    .footer-left{
        margin-bottom: 24px;
        margin-top: 30px;
    }
    .footer-center{
        width: 50%;
        margin-bottom: 24px;
    }
    .footer-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .wrapper-icon-footer {
        justify-content: center;
        width: 60%;
    }
    .wrapper-icon-footer li {
        list-style: none;
        margin: 0px 12px;
    }
    .wrapp-join-us{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}